@use '../../theme';

.button {
  background: theme.$colorPrimary;
  border: 0;
  cursor: pointer;
  padding: 1.5rem 2rem;
  color: theme.$colorPrimaryText;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  line-height: 1;
  font-weight: inherit;
  &:hover {
    background: lighten(theme.$colorPrimary, 20);
  }
}
