.info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem;
  color: white;
  text-align: right;
  font-size: 2rem;
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    & *:first-child {
      margin-right: 1rem;
      font-size: 1.5rem;
      color: #888;
    }
  }
  &__tooltip {
    max-width: 50%;
    font-size: 1.3rem !important;
    opacity: 1 !important;
    text-align: left;
    padding: 1rem !important;
    background: #1a1a23 !important;
    &:after {
      display: none !important;
    }
  }
  &--name {
    font-size: 2.8rem;
  }
  &--ref {
    font-size: 1rem;
  }
  &--subtitle {
    font-size: 1.5rem;
  }
}
