$planet-color-r: var(--planet-color-r, random(255));
$planet-color-g: var(--planet-color-g, random(255));
$planet-color-b: var(--planet-color-b,random(255));
$planet-texture: var(--planet-texture);
$planet-tilt: var(--planet-tilt, 25deg);
$rotate-speed: var(--rotate-speed, 30s);
$shadow-width: var(--shadow-width, -90px);
$planet-width: var(--planet-width, 300px);
$planet-height: var(--planet-height, 50vh);

@keyframes planetRotate {
  0%{
    background-position: 0 center;
  }
  100%{
    background-position: -200% center;
  }
}
.planet {
  height: $planet-height;
  width: $planet-width;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__surface{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-image: $planet-texture;
    transform: scale(1.01) rotate($planet-tilt);
    animation: planetRotate $rotate-speed linear infinite;
    border: 1px solid black;
  }
  &__atmosphere {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background: radial-gradient(circle at 30% 50%, rgba($planet-color-r,$planet-color-g,$planet-color-b,.5) 0%, rgba($planet-color-r,$planet-color-g,$planet-color-b,.2) 65%); // light
    box-shadow: inset 17px 0 12px -2px rgba($planet-color-r,$planet-color-g,$planet-color-b,.2),
    inset $shadow-width 0px 50px 0px black,
    -7px 0px 10px -4px rgba($planet-color-r,$planet-color-g,$planet-color-b, .5),
  }
}
