.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    > * {
      max-width: 500px;
      flex-grow: 1;
    }
  }

  .text {
    font-size: 1.5rem;
  }

  .reference {
    font-size: 1rem;
  }

  .correct {
    color: green;
  }

  .wrong {
    color: red;
  }
}
