.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  .cardContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    > * {
      max-width: 500px;
      flex-grow: 1;
    }
  }

  .text {
    font-size: 1.5rem;
  }

  .comment, .reference {
    margin-top: auto;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
  }

  .emoji {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
  }

  .correct {
    color: green;
  }

  .wrong {
    color: red;
  }

  .inputContainer {
    position: relative;
    display: flex;
    .input {
      padding: 1.1rem;
      border: 2px solid #ccc;
      border-radius: 0;
      width: 100%;
      font-family: 'Indie Flower', cursive;
      font-size: 1.5rem;
      background: transparent;
      line-height: 1;
    }
    .button {
      position: absolute;
      right:0;
      height: 100%;
      background: aquamarine;
      border: 0;
      cursor: pointer;
      padding: 0 1rem;
      color: white;
      font-size: 2rem;
    }
  }
}
