@use 'theme';

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  .cardContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    > * {
      max-width: 500px;
      flex-grow: 1;
    }
  }

  .text {
    font-size: 1.5rem;
  }

  .comment, .reference {
    margin-top: auto;
    font-size: 1rem;
    font-family: theme.$fontFamily;
    font-weight: normal;
    letter-spacing: normal;
  }

  .reference {
    padding-right: 2rem;
  }

  .emoji {
    text-align: center;
    font-size: 3rem;
  }

  .correct {
    color: theme.$colorCorrect;
  }

  .wrong {
    color: theme.$colorIncorrect;
  }

  .flipButton {
    position: absolute;
    bottom:1rem;
    right: 1rem;
    width: min-content;
    color: theme.$colorTertiary;
    background: transparent;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    cursor:pointer;
    font-weight: bold;
    font-family: theme.$fontFamily;
    &:hover {
      background: lighten(theme.$colorSecondary,10);
    }
  }

  .inputContainer {
    position: relative;
    display: flex;
    .input {
      padding: 1.1rem;
      border: 2px solid #ccc;
      border-radius: 0;
      width: 100%;
      font-family: theme.$fontFamilyHand;
      letter-spacing: 1px;
      font-size: 1.5rem;
      background: transparent;
      font-weight: bold;
      &::placeholder {
        color: #333;
        opacity: 0.5;
      }
    }
    .button {
      position: absolute;
      right:0;
      height: 100%;
      padding: 0 1rem;
      font-size: 2rem;
    }
  }
}
