@use 'theme';

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.start {
  align-items: flex-start;
}

.row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.noGap {
  gap: 0;
}

.bottomRow {
  margin-top:auto;
}

.infoBox {
  background-color: theme.$colorTertiary;
  color: theme.$colorTertiaryText;
  padding: 2rem;
}

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  min-height: 100%;
  @media screen and (max-width: 700px) {
    padding: 1rem;
  }

  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    .removeButton {
      background: none;
      border: 1px solid theme.$colorSecondaryText;
      color: theme.$colorSecondaryText;
      padding: 0 0.5rem;
      font-size: 1.5rem;
      height: fit-content;
      cursor: pointer;
      &:hover {
        background: lighten(theme.$colorSecondary, 10);
      }
    }
  }

  .cardContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    > * {
      max-width: 500px;
      flex-grow: 1;
    }

    .language {
      position: absolute;
      top: 1.3rem;
      right: 1.3rem;
    }
    .wordCard {
      padding: 1.3rem 3.5rem 1.3rem 1.3rem;
    }
  }

  .text {
    font-size: 1.5rem;
  }

  .comment, .reference {
    margin-top: auto;
    font-size: 1rem;
    font-family: theme.$fontFamily;
    font-weight: normal;
    letter-spacing: normal;
  }

  .reference {
    word-break: break-word;
  }

  .emoji {
    text-align: center;
    font-size: 3rem;
  }

  .correct {
    color: theme.$colorCorrect;
  }

  .wrong {
    color: theme.$colorIncorrect;
  }

  .flipButton {
    position: absolute;
    bottom:1rem;
    right: 1rem;
    width: min-content;
    color: theme.$colorTertiary;
    background: transparent;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    cursor:pointer;
    font-weight: bold;
    font-family: theme.$fontFamily;
    &:hover {
      background: lighten(theme.$colorSecondary,10);
    }
  }

  .inputContainer {
    position: relative;
    display: flex;
    .input {
      padding: 1.2rem;
      border: 2px solid #ccc;
      border-radius: 0;
      width: 100%;
      font-family: theme.$fontFamilyHand;
      letter-spacing: 1px;
      font-size: 1.5rem;
      background: transparent;
      font-weight: bold;
      &::placeholder {
        color: #333;
        opacity: 0.5;
      }
    }
    .button {
      position: absolute;
      right:0;
      height: 100%;
      padding: 0 1rem;
      font-size: 2rem;
    }
  }
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000099;
}

.modal {
  position: absolute;
  background-color: theme.$colorTertiary;
  color: theme.$colorTertiaryText;
  box-shadow: 0px 3px 6px #00000066;
  border: none;
  border-radius: 0;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: min-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.languageForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
}


