@font-face {
  font-family: IndieFlower;
  src: url(/fonts/IndieFlower-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}