@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway&display=swap');

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: darksalmon;
}

a {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
