@use 'theme';
@use 'fonts';

html {
  font-size: 16px;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: theme.$fontFamily;
  background: theme.$colorSecondary;
  color: theme.$colorSecondaryText;
  line-height: 1;
  font-size: 1rem;

  &.fixed {
    position: fixed;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.no-gap {
  gap: 0;
}

.start {
  align-items: flex-start;
}