$colorPrimary: #E7E05E;
$colorSecondary: #7981A4;
$colorTertiary: #031D44;

$colorCorrect: #257F4F;
$colorIncorrect: #D14F4F;

$colorPrimaryText: #333;
$colorSecondaryText: #F4F2F8;
$colorTertiaryText: #F4F2F8;
//39566A

$fontFamily: 'Raleway', sans-serif;
$fontFamilyHand: 'Indie Flower', cursive;